h1 {
    font-size: 5em;
    font-family: "Roboto Condensed", sans-serif;
    padding: 10px;
    margin: 0;
    font-weight: 2px;
    text-decoration: underline;
    color: #bc3737;
    background-color: #ffe0b2;
}

/* h2 {
    font-size: ;
    font-family: ;
    padding: ;
    margin: ;
    font-weight: ;
    color: ;
    background-color: ;
}

p {
    font-family: ;
    font-size: ;
    padding: ;
    margin: ;
    color: ;
    background-color: ;
}

.logo {
    background-size: cover;
    background-image: url();
    background-color: ;
    height: ;
    width: ;
} */
